@use 'base/variables' as var;
@use 'base/mixins' as mix;

.comments-blog {
    margin-top: 5rem;

    @include mix.desktop { 
        @include mix.grid(3, 4rem);
    }

    &__blog {
        @include mix.desktop{
            grid-column: 2 / 4;
        }
    }

    &__heading {
        @include mix.heading(true);
    }
}

.comment {
    text-align: center;

    &__image {
        width: 20rem;
        margin: 0 auto;
    }

    &__content {
        background-color: var.$white;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem 2rem;
    }

    &__name {
        font-size: 2.4rem;
        font-weight: 700;
    }

    &__text {
        &::before {
            content: '';
            background-image: url(../img/quote.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block;
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }
    }
}