@use 'base/variables' as var;
@use 'base/mixins' as mix;

.properties {
    margin-top: 5rem;

    @include mix.tablet { 
        margin-top: 10rem;
    }

    &__heading {
        @include mix.heading;
    }

    &__grid {
        @include mix.grid(1, 2rem);

        @include mix.tablet { 
            @include mix.grid(3, 2rem);
        }
    }
}

.property {
    background-color: var.$white;

    &__image{
        aspect-ratio: 10 / 6;
        background-size: cover;

        position: relative;
    }

    @for $i from 1 through 6 {
        $image: '../img/property_' + $i + '.jpg';

        &:nth-child(#{$i}) &__image {
            background-image: linear-gradient( to bottom, transparentize(var.$black, 1%) 0%, transparentize(var.$black, .3%) 100%), url($image);
        }
    }

    &__name {
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        color: var.$white;
        font-size: 2.4rem;
    }

    &__content {
        padding: 2rem;
    }

    &__text {
        margin-bottom: 0;
    }

    &__price {
        font-size: 3rem;
        margin: 0;
    }

    &__link {
        @include mix.button(var.$primary, var.$white);
        display: block;
        text-transform: uppercase;
    }
}